<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SymptomSense</title>
    <link href="static/styles/chatStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script type="module" src="{{ url_for('static', filename='scripts/chatScript.js') }}"></script>  
</head>
<body>
<div id="nav-placeholder"></div>
    <script>
        fetch("static/nav.html")
            .then(response => response.text())
            .then(data => {
                document.getElementById("nav-placeholder").innerHTML = data;
                
            })
            .catch(error => console.error("Error loading the navigation:", error));
</script>
    <div class="container">
        <div class="header">
            <h1 class="big-title">Mind Mate</h1>
            <h2 class="small-title">SymptomSense Chatbot</h2>
        </div>
        
        <section id="chat-section">
            <!-- Chat messages will appear here -->
        </section>
        
        <footer class="input-footer">
            <div class="input-controls">
                <div class="file-upload">
                    <label for="imageUploader" id="file-label" class="file-upload-label">
                        <i class="fas fa-paperclip"></i> Attach
                    </label>
                    <input type="file" id="imageUploader" accept="image/*">
                </div>
                
                <input autofocus type="text" class="input-footer__input" id="prompt" placeholder="Type your message here..." />
                
                <button type="submit" class="input-footer__submit" id="submit-button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </footer>
    </div>
</body>
</html>